
nav {
    width: 100%;
}

nav ul{
    position: absolute;
    display: flex;
}

nav ul li {
    margin: 5%;
    display: flex;
}

body {
    background-color: pink;

}

footer {
    background-color: palevioletred;
}
